body{
  background-color: rgba(18, 137, 75, 0.575);
}

#board {
    background-color: rgba(89, 255, 80, 0.244);
      display: grid;
      /* grid-template-columns: done in JavaScript */
      /* grid-gap: 5px; */
      width: 300px;
     margin:  auto;
     /* position:relative ; */

     /* display: flex; */
     align-items: center;
     justify-content: center 
    }

.card {
    background-color: rgba(232, 12, 12, 0.728);
    /* aspect-ratio: 1; */
    height: 150px;
    width: 150px;
    /* margin: auto; */
    font-size: 65px;
    text-align: center;
    border-radius: 10px;
      border-style: solid;
      border-color: rgb(123, 205, 90);
  
  }


  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav button {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #030202;
  }
  
  .topnav button:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav button.active {
    background-color: #04AA6D;
    color: white;
  }

  #namesText{
    margin: auto;
    background-color: darkmagenta;
    width: 900px;
    height: 100px;
    padding: 20px; 
    font-size: 50px;
    
  }

  #player1Name{
    float: left;
  }
  #player2Name{
    float: right;
  }

  .currentPlayer{
    background-color: yellow;
  }

  .nune{
    display: none;
  }

  #timer{
   text-align: center;
   font-size: 50px;
   font-family:'digital-clock-font';
    /* margin: auto;
    width: auto;
    justify-content: center;
    justify-items:center ; */
    background-color: #04AA6D;
  }

  @font-face{
    font-family:'digital-clock-font';
    src: url('./RADIOLAND.TTF');
   }